<template>
  <div class="indexview">
            <h1>Welcome to CS425 Database Organization!</h1>
            <h5>CS 425 Database Organization - Fall 2021</h5>
            <h5>Course Project: A Library Management System</h5>
<el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>Authors</span>
  </div>
  <div class="text item">
    <table border="0" width=100%>
      <tr>
        <th>Author1</th>
        <th>Author2</th>
        <th>Author3</th>
      </tr>
      <tr>
        <td>Student Number：A20498591</td>
        <td>Student Number：A20501159</td>
        <td>Student Number：A20500653</td>
      </tr>
      <tr>
        <td>IIT Mail:qjiang10@hawk.iit.edu</td>
        <td>IIT Mail:spu4@hawk.iit.edu</td>
        <td>IIT Mail:wkang10@hawk.iit.edu</td>
      </tr>
      <tr>
        <td>bitbucket Mail：jqlever@163.com</td>
        <td>bitbucket Mail：puxuanxi@qq.com</td>
        <td>bitbucket Mail：42972667@qq.com</td>
      </tr>
    </table>
  </div>
</el-card>
  </div>
</template>
