<template>
  <div class="Category">
    <h2>Category</h2>
    <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
      <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
        <el-row>
          <el-col :span="15">
            <el-input placeholder="Please Input Category Name to Search " v-model="CategoryName2Search" clearable></el-input>
          </el-col>
          <el-col :span="5">
            <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
          </el-col>
        </el-row>

      </div>
    </div>
    <div style="width: 100%;display: flex;flex-direction: row;align-items: end;justify-content: end;">
        <el-button type="success" icon="el-icon-circle-plus-outline" round  @click="handleClick( {},'add')">Add</el-button>
    </div>

    <el-table
      highlight-current-row
      :data="lists"
      style="width: 100%"
      height="500"
      >

      <el-table-column prop="incrementId" label="Increment_ID"></el-table-column>

      <el-table-column prop="categoryId" label="Category_ID"></el-table-column>

      <el-table-column prop="categoryName" label="Category_Name"></el-table-column>

      <el-table-column label="Operate">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" circle @click="handleClick(scope.row,'edit')"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="handleClick(scope.row,'delete')"></el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog id="layer" :title="dialogTitle" :visible.sync="dialogVisible" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                  <el-form-item label="increment_id:">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="category_id:">
                      <el-input v-model="sizeForm.categoryId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="category_name:">
                      <el-input v-model="sizeForm.categoryName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="handleSubmit()">Submit</el-button>
                  </el-form-item>
              </el-form>

        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dialogTitle: '',
      dialogVisible: false,
      dialogOP: '',
      CategoryName2Search: '',
      lists: [],
      sizeForm: {
        incrementId: '',
        categoryId: '',
        categoryName: ''
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    this.getroles(this.checkrole)
    // console.log('getitem sessionstorage token in category:' + window.sessionStorage.getItem('token'))
  },
  methods: {
    checkrole () {
      if (this.myroles.match(this.roles.admin)) {
        this.getList()
      } else {
        this.$message('Only admin can using this page!')
        this.$router.push('/index')
      }
    },
    handleClose (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/category/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        if (res.data.code === 200) {
          this.lists = res.data.data
        } else {
          console.log(res)
          // this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
        }
      }).catch(err => {
        console.log(err)
        // this.$message('Error :' + err)
      })
    },
    handleSearch () {
      if (this.CategoryName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/category/listbyname?category_name=' + this.CategoryName2Search.toUpperCase()
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          // console.log(res) // res返回的数据
          this.lists = res.data.data
          if (res.data.code === 200) {
            this.dialogVisible = false
            this.sizeForm = {}
            this.lists = res.data.data
            // console.log(this.lists)
          } else {
            this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
          }
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClick (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      this.dialogVisible = true
      this.dialogOP = op
      if (op === 'add') {
        this.dialogTitle = 'Add a new Category'
      } else if (op === 'edit') {
        this.dialogTitle = 'Edit an exist Category'
      } else if (op === 'delete') {
        this.dialogTitle = 'Delete an exist Category'
      }
    },
    handleSubmit () {
      // this.$confirm('Confirm this Operation?')
      //   .then(_ => {
      if (this.dialogOP === 'delete') {
        this.$http({
          method: 'post',
          url: '/category/del?incrementId=' + this.sizeForm.incrementId
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOP === 'edit') {
        this.$http({
          method: 'post',
          url: '/category/update',
          data: { categoryId: this.sizeForm.categoryId, categoryName: this.sizeForm.categoryName, incrementId: this.sizeForm.incrementId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOP === 'add') {
        this.$http({
          method: 'post',
          url: '/category/add',
          data: { categoryId: this.sizeForm.categoryId, categoryName: this.sizeForm.categoryName }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      // done()
    // })
    // .catch(_ => {})
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
