<template>
  <div class="Doc_Type">
    <h2>Doc_Type and Type_Attribute</h2>
      <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
          <el-row>
            <el-col :span="15">
              <el-input placeholder="Please Input Doc_Types Name to Search " v-model="DcoTypesName2Search" clearable></el-input>
            </el-col>
            <el-col :span="5">
              <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
            </el-col>
          </el-row>

        </div>
      </div>
    <el-row>
      <el-col :span="11">
        <div style="width: 100%;display: flex;flex-direction: row;align-items: start;justify-content: start;">
          <el-button type="success" icon="el-icon-circle-plus-outline" round  @click="handleClickDocType( {},'add')">Add a new Doc_Type</el-button>
        </div>
      </el-col>
      <el-col :span="11">
        <div style="width: 100%;display: flex;flex-direction: row;align-items: start;justify-content: end;">
          <el-button type="success" icon="el-icon-circle-plus-outline" round  @click="handleClickDocTypeAtt( {},'add')">Add a new Doc_Type_Attribute</el-button>
        </div>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="11">
        <div style="width: 90%;display: flex;flex-direction: row;align-items: start;justify-content: start;">
          <el-table highlight-current-row :data="lists" style="width: 100%" show-overflow-tooltip height="500">
            <!-- el-table-column prop="incrementId" label="Increment_ID"></el-table-column -->
            <el-table-column prop="docTypeId" label="docTypeId" width="100px"></el-table-column>
            <el-table-column prop="docTypeName" label="docTypeName"></el-table-column>
            <el-table-column prop="docTypeCode" label="docTypeCode"></el-table-column>
            <el-table-column label="Operate">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" circle @click="handleClickDocType(scope.row,'edit')"></el-button>
                <el-button type="danger" icon="el-icon-delete" circle @click="handleClickDocType(scope.row,'delete')"></el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-col>
      <el-col :span="11" align="right">
        <div style="width: 95%;display: flex;flex-direction: row;align-items: start;justify-content: end;">
          <el-table highlight-current-row :data="listsAtt" style="width: 100%">
            <!-- el-table-column prop="incrementId" label="Increment_ID"></el-table-column -->
            <el-table-column prop="docTypeAttId" label="docTypeAttId"></el-table-column>
            <el-table-column prop="docTypeAttDesc" label="docTypeAttDesc"></el-table-column>
            <el-table-column prop="displayOrder" label="DisplayOrder"></el-table-column>
            <el-table-column label="Operate">
              <template slot-scope="scope">
                <el-button type="primary" icon="el-icon-edit" circle @click="handleClickDocTypeAtt(scope.row,'edit')"></el-button>
                <el-button type="danger" icon="el-icon-delete" circle @click="handleClickDocTypeAtt(scope.row,'delete')"></el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-col>
    </el-row>

    <el-dialog id="layer" :title="dialogTitle" :visible.sync="dialogVisible" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                  <el-form-item label="increment_id:">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docTypeId:">
                      <el-input v-model="sizeForm.docTypeId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docTypeName:">
                      <el-input v-model="sizeForm.docTypeName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docTypeCode:">
                      <el-input v-model="sizeForm.docTypeCode" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="handleSubmitDocType()">Submit</el-button>
                  </el-form-item>
              </el-form>
        </div>
      </div>
    </el-dialog>

    <el-dialog id="layer" :title="dialogTitleAtt" :visible.sync="dialogVisibleAtt" :before-close="handleCloseAtt" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                  <el-form-item label="increment_id:">
                      <el-input v-model="sizeFormAtt.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="doc_type_att_id:">
                      <el-input v-model="sizeFormAtt.docTypeAttId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="doc_type_att_desc:">
                      <el-input v-model="sizeFormAtt.docTypeAttDesc" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="display_order:">
                      <el-input v-model="sizeFormAtt.displayOrder" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisibleAtt = false">Cancel</el-button>
                    <el-button type="primary" @click="handleSubmitDocTypeAtt()">Submit</el-button>
                  </el-form-item>
              </el-form>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dialogTitle: '',
      dialogTitleAtt: '',
      dialogVisible: false,
      dialogVisibleAtt: false,
      dialogOP: '',
      dialogOPAtt: '',
      DcoTypesName2Search: '',
      lists: [],
      sizeForm: {
        incrementId: '',
        docTypeId: '',
        docTypeName: '',
        docTypeCode: ''
      },
      listsAtt: [],
      sizeFormAtt: {
        incrementId: '',
        docTypeAttId: '',
        docTypeAttDesc: '',
        displayOrder: ''
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    this.getroles(this.checkrole)
  },
  methods: {
    checkrole () {
      if (this.myroles.match(this.roles.admin)) {
        this.getList()
        this.getListAtt()
      } else {
        this.$message('Only admin can using this page!')
        this.$router.push('/index')
      }
    },
    handleClose (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    handleCloseAtt (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/doctypes/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        if (res.data.code === 200) {
          this.lists = res.data.data
        } else {
          // this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
        }
      }).catch(err => {
        console.log(err)
        // this.$message('Error :' + err)
      })
    },
    getListAtt () {
      this.$http({
        method: 'get',
        url: '/doctypeatt/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        if (res.data.code === 200) {
          this.listsAtt = res.data.data
        } else {
          this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
        }
      }).catch(err => {
        // console.log(err)
        this.$message('Error :' + err)
      })
    },
    handleSearch () {
      if (this.DcoTypesName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/doctypes/listbyname?doctypes_name=' + this.DcoTypesName2Search.toUpperCase()
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          if (res.data.code === 200) {
            // console.log(res) // res返回的数据
            // this.lists = res.data.data
            this.dialogVisible = false
            this.sizeForm = {}
            this.lists = res.data.data
            // console.log(this.lists)
          } else {
            // this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
            // console.log(this.DcoTypesName2Search)
            console.log(res)
          }
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClickDocType (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      this.dialogVisible = true
      this.dialogOP = op
      if (op === 'add') {
        this.dialogTitle = 'Add a new Doc_Type'
      } else if (op === 'edit') {
        this.dialogTitle = 'Edit an exist Doc_Type'
      } else if (op === 'delete') {
        this.dialogTitle = 'Delete an exist Doc_Type'
      }
    },
    handleClickDocTypeAtt (row, op) {
      // console.log(row, op)
      this.sizeFormAtt = { ...row }
      this.dialogVisibleAtt = true
      this.dialogOPAtt = op
      if (op === 'add') {
        this.dialogTitleAtt = 'Add a new Doc_Type_Att'
      } else if (op === 'edit') {
        this.dialogTitleAtt = 'Edit an exist Doc_Type_Att'
      } else if (op === 'delete') {
        this.dialogTitleAtt = 'Delete an exist Doc_Type_Att'
      }
    },
    handleSubmitDocType () {
      // this.$confirm('Confirm this Operation?')
      //   .then(_ => {
      if (this.dialogOP === 'delete') {
        this.$http({
          method: 'post',
          url: '/doctypes/del?incrementId=' + this.sizeForm.incrementId
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOP === 'edit') {
        this.$http({
          method: 'post',
          url: '/doctypes/update',
          data: { incrementId: this.sizeForm.incrementId, docTypeId: this.sizeForm.docTypeId, docTypeName: this.sizeForm.docTypeName, docTypeCode: this.sizeForm.docTypeCode }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOP === 'add') {
        this.$http({
          method: 'post',
          url: '/doctypes/add',
          data: { docTypeId: this.sizeForm.docTypeId, docTypeName: this.sizeForm.docTypeName, docTypeCode: this.sizeForm.docTypeCode }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      // done()
    // })
    // .catch(_ => {})
    },
    handleSubmitDocTypeAtt () {
      // this.$confirm('Confirm this Operation?')
      //   .then(_ => {
      if (this.dialogOPAtt === 'delete') {
        this.$http({
          method: 'post',
          url: '/doctypeatt/del?incrementId=' + this.sizeFormAtt.incrementId
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisibleAtt = false
          this.sizeFormAtt = {}
          this.getListAtt()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOPAtt === 'edit') {
        this.$http({
          method: 'post',
          url: '/doctypeatt/update',
          data: { incrementId: this.sizeFormAtt.incrementId, docTypeAttId: this.sizeFormAtt.docTypeAttId, docTypeAttDesc: this.sizeFormAtt.docTypeAttDesc, displayOrder: this.sizeFormAtt.displayOrder }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisibleAtt = false
          this.sizeFormAtt = {}
          this.getListAtt()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOPAtt === 'add') {
        // console.log('Add a new Doc_Type_Att')
        // console.log(this.sizeFormAtt)
        this.$http({
          method: 'post',
          url: '/doctypeatt/add',
          data: { docTypeAttId: this.sizeFormAtt.docTypeAttId, docTypeAttDesc: this.sizeFormAtt.docTypeAttDesc, displayOrder: this.sizeFormAtt.displayOrder }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisibleAtt = false
          this.sizeFormAtt = {}
          this.getListAtt()
        }).catch(err => {
          console.log(err)
        })
      }
      // done()
    // })
    // .catch(_ => {})
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
