<template>
  <div class="Documents">
    <h2>Documents</h2>
      <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
          <el-row>
            <el-col :span="15">
              <el-input placeholder="Please Input Document Name to Search " v-model="DocumentName2Search" clearable></el-input>
            </el-col>
            <el-col :span="5">
              <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
            </el-col>
          </el-row>

        </div>
      </div>
    <div style="width: 100%;display: flex;flex-direction: row;align-items: end;justify-content: end;">
        <el-button type="success" icon="el-icon-circle-plus-outline" round  @click="handleClick( {},'add')">Add</el-button>
    </div>

    <el-table
      highlight-current-row
      :data="lists"
      style="width: 100%">

      <el-table-column prop="incrementId" label="Increment_ID"></el-table-column>

      <el-table-column prop="documentId" label="DocumentID"></el-table-column>

      <el-table-column prop="categoryName" label="CategoryName"></el-table-column>

      <el-table-column prop="docTypeName" label="DocTypeName"></el-table-column>
      <el-table-column prop="doctitle" label="DocTitle"></el-table-column>
      <el-table-column prop="docname" label="DocName"></el-table-column>
      <el-table-column prop="dockeyword" label="DocKeyword"></el-table-column>

      <el-table-column label="Operate">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" circle @click="handleClick(scope.row,'edit')"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="handleClick(scope.row,'delete')"></el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog id="layer" :title="dialogTitle" :visible.sync="dialogVisible" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:100%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini" :model="sizeForm">
                  <el-form-item label="increment_id:"  v-if="false">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="document_id:">
                      <el-input v-model="sizeForm.documentId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docType_id:">
                    <el-select v-model="docTypevalue" style="width:100%" placeholder="Please choose a document type">
                      <el-option
                        v-for="item in DocTypeSelectlists"
                        :key="item.incrementId"
                        :label="item.docTypeName"
                        :value="item.docTypeId">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="category_id:">
                    <el-select v-model="docCategoryvalue" style="width:100%" placeholder="Please choose a category">
                      <el-option
                        v-for="item in DocCategorySelectlists"
                        :key="item.incrementId"
                        :label="item.categoryName"
                        :value="item.categoryId">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <!--
                  <el-form-item>
                    <el-input placeholder="请输入内容" v-model="input3" class="input-with-select">
                        <el-select v-model="select" slot="prepend" placeholder="请选择">
                          <el-option label="餐厅名" value="1"></el-option>
                          <el-option label="订单号" value="2"></el-option>
                          <el-option label="用户电话" value="3"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-plus"></el-button>
                    </el-input>
                  </el-form-item>
                  -->
              </el-form>
              <el-form label-width="160px" size="mini" :model="form">
                <div v-for="(item, index) in form.dynamicItem" :key="index">
                  <el-form-item
                      :label="item.label"
                      :prop="'dynamicItem.' + index + '.docTypeAttDesc'"
                  >
                      <el-input v-model="item.docTypeAttDesc"></el-input>
                  </el-form-item>
                  <!--
                  <el-form-item
                      :label="item.docTypeAttDesc"
                      :prop="'dynamicItem.' + index + '.phone'"
                      :rules="[
                          {required: true, message: '手机号不能为空', trigger: 'blur'},
                          { pattern: /^1[34578]\d{9}$/, message: '目前只支持中国大陆的手机号码' }
                        ]"
                      >
                      <el-input v-model="item.phone"></el-input>
                  </el-form-item>

                  <el-form-item>
                      <i class="el-icon-delete" @click="deleteItem(item, index)"></i>
                  </el-form-item>
                -->
                </div>

                <el-form-item>
                  <el-button @click="dialogVisible = false">Cancel</el-button>
                  <el-button type="primary" @click="handleAddSubmit()">Submit</el-button>
                  <!-- <el-button @click="addItem" type="primary">增加</el-button> -->
                </el-form-item>
              </el-form>

        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      input3: '',
      select: '',
      dialogTitle: '',
      dialogVisible: false,
      dialogOP: '',
      DocumentName2Search: '',
      lists: [],
      DocTypeSelectlists: [],
      DocTypeAttSelectlists: [],
      DocCategorySelectlists: [],
      sizeForm: {
        incrementId: '',
        documentId: '',
        docTypeId: '',
        categoryId: '',
        categoryName: '',
        docTypeName: '',
        docTypeCode: '',
        docTypeAttId: '',
        docTypeAttDesc: '',
        displayOrder: '',
        docTypeAttValue: ''
      },
      form: {
        dynamicItem: []
      },
      docTypevalue: '',
      docCategoryvalue: ''
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    this.getroles(this.checkrole)
  },
  methods: {
    checkrole () {
      if (this.myroles.match(this.roles.admin)) {
        this.getList()
        this.getdoctypeList()
        this.getdoccategoryList()
        this.getdoctypeattList()
      } else {
        this.$message('Only admin can using this page!')
        this.$router.push('/index')
      }
    },
    handleClose (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getdoctypeList () {
      this.$http({
        method: 'get',
        url: '/doctypes/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        this.DocTypeSelectlists = res.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    getdoctypeattList () {
      this.$http({
        method: 'get',
        url: '/doctypeatt/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        this.DocTypeAttSelectlists = res.data.data
        const t = this
        this.DocTypeAttSelectlists.forEach(function (item, index) {
          t.form.dynamicItem.push({
            label: item.docTypeAttDesc,
            docTypeAttDesc: item.docTypeAttDesc,
            docTypeAttId: item.docTypeAttId
          })
        })
      }).catch(err => {
        console.log(err)
      })
    },
    getdoccategoryList () {
      this.$http({
        method: 'get',
        url: '/category/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        this.DocCategorySelectlists = res.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/docdetails/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        this.lists = res.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    handleSearch () {
      if (this.DocumentName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/docdetails/detaillistbyattvalue?Search_Value=' + this.DocumentName2Search
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.lists = res.data.data
          // console.log(this.lists)
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClick (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      // this.dialogVisible = true
      this.dialogOP = op
      this.docTypevalue = row.docTypeName
      this.docCategoryvalue = row.categoryName
      if (op === 'add') {
        this.dialogTitle = 'Add a new Document'
        this.dialogVisible = true
      } else if (op === 'edit') {
        this.dialogTitle = 'Edit an exist Document'
        this.dialogVisible = true
      } else if (op === 'delete') {
        this.dialogTitle = 'Delete an exist Document'
      }
      // this.handleSubmit()
    },
    handleSubmit () {
      if (this.dialogOP === 'delete') {
        // document
        this.$confirm('Confirm this Delete Operation?')
          .then(_ => {
            this.$http({
              method: 'post',
              url: '/documents/del?incrementId=' + this.sizeForm.incrementId
              // data: { categoryId: this.sizeForm.categotyId }
            }).then(res => {
              console.log(res) // res返回的数据
              // this.lists = res.data.data
              this.dialogVisible = false
              this.sizeForm = {}
              this.getList()
            }).catch(err => {
              console.log(err)
            })
            // document att
            this.$http({
              method: 'post',
              url: '/HasD/del?documentId =' + this.sizeForm.documentId
              // data: { categoryId: this.sizeForm.categotyId }
            }).then(res => {
              console.log(res) // res返回的数据
              // this.lists = res.data.data
              this.dialogVisible = false
              this.sizeForm = {}
              this.getList()
            }).catch(err => {
              console.log(err)
            })
          })
          .catch(_ => {})
      }
      if (this.dialogOP === 'edit') {
        this.$http({
          method: 'post',
          url: '/documents/update',
          data: { incrementId: this.sizeForm.incrementId, documentId: this.sizeForm.documentId, docTypeId: this.docTypevalue, categoryId: this.docCategoryvalue }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
      if (this.dialogOP === 'add') {
        this.$http({
          method: 'post',
          url: '/documents/add',
          data: { categoryId: this.docCategoryvalue, documentId: this.sizeForm.documentId, docTypeId: this.docTypevalue }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.getList()
        }).catch(err => {
          console.log(err)
        })
      }
    },
    addItem () {
      this.form.dynamicItem.push({
        docTypeAttDesc: '11',
        docTypeAttId: '111'
      })
    },
    deleteItem (item, index) {
      this.form.dynamicItem.splice(index, 1)
    },
    handleAddSubmit () {
      // console.log(this.form.dynamicItem)
      // console.log(this.sizeForm.documentId)
      const t = this
      this.form.dynamicItem.forEach(function (item, index) {
        t.$http({
          method: 'post',
          url: '/HasD/add',
          data: { docDocumentId: t.sizeForm.documentId, docTypeAttId: item.docTypeAttId, docTypeAttValue: item.docTypeAttDesc }
        }).then(res => {
          // console.log(res) // res返回的数据
        }).catch(err => {
          console.log(err)
        })
        // console.log(item.docTypeAttDesc)
      })
      this.handleSubmit()
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .input-with-select .el-input-group__prepend {
    background-color: #fff;
    width: 50px;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
