<template>
  <div class="Persons">
    <h2>Persons Management</h2>
      <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
          <el-row>
            <el-col :span="15">
              <el-input placeholder="Please Input Person Name to Search " v-model="PersonsName2Search" clearable></el-input>
            </el-col>
            <el-col :span="5">
              <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
            </el-col>
          </el-row>

        </div>
      </div>

    <el-table highlight-current-row :data="lists" style="width: 100%">
      <el-table-column prop="incrementId"       label="incrementId" v-if="false"></el-table-column>
      <el-table-column prop="personId"       label="personId" v-if="false"></el-table-column>
      <el-table-column prop="email"       label="email"></el-table-column>
      <el-table-column prop="firstName"   label="firstName"></el-table-column>
      <el-table-column prop="midName"     label="midName"></el-table-column>
      <el-table-column prop="lastName"    label="lastName"></el-table-column>
      <el-table-column prop="capacity"    label="capacity"></el-table-column>
      <el-table-column prop="period"      label="period"></el-table-column>

      <el-table-column label="Operate">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-document-checked" circle @click="handleClick(scope.row,'grant')"></el-button>
          <el-button type="primary" icon="el-icon-edit" circle @click="handleClick(scope.row,'edit')"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="handleClick(scope.row,'delete')"></el-button>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog id="layer" :title="dialogTitle" :visible.sync="dialogVisible" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                <!--
                <el-form-item label="incrementId:">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="personId:">
                      <el-input v-model="sizeForm.personId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="email:">
                      <el-input v-model="sizeForm.email" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="firstName:">
                      <el-input v-model="sizeForm.firstName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="midName:">
                      <el-input v-model="sizeForm.midName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="lastName:">
                      <el-input v-model="sizeForm.lastName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  -->
                  <el-form-item label="capacity:">
                      <el-input v-model="sizeForm.capacity" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="period:">
                      <el-input v-model="sizeForm.period" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="handleSubmit()">Submit</el-button>
                  </el-form-item>
              </el-form>
        </div>
      </div>
    </el-dialog>

    <el-dialog id="layer" :title="dialogTitleDel" :visible.sync="dialogVisibleDel" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                <el-form-item label="incrementId:">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="personId:">
                      <el-input v-model="sizeForm.personId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="email:">
                      <el-input v-model="sizeForm.email" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="firstName:">
                      <el-input v-model="sizeForm.firstName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="midName:">
                      <el-input v-model="sizeForm.midName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="lastName:">
                      <el-input v-model="sizeForm.lastName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="capacity:">
                      <el-input v-model="sizeForm.capacity" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="period:">
                      <el-input v-model="sizeForm.period" style="margin-bottom:0"></el-input>
                  </el-form-item>

                  <el-form-item label="rights:">
                    <template>
                      <el-checkbox-group v-model="checkList">
                        <el-checkbox label="复选框 A"></el-checkbox>
                        <el-checkbox label="复选框 B"></el-checkbox>
                        <el-checkbox label="复选框 C"></el-checkbox>
                      </el-checkbox-group>
                    </template>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisibleDel = false">Cancel</el-button>
                    <el-button type="primary" @click="handleSubmit()">Submit</el-button>
                  </el-form-item>
              </el-form>

        </div>
      </div>
    </el-dialog>

  </div>
</template>

<script>
export default {
  data () {
    return {
      checkList: ['复选框 C', '复选框 A'],
      dialogTitle: '',
      dialogTitleDel: '',
      dialogVisible: false,
      dialogVisibleDel: false,
      dialogOP: '',
      PersonsName2Search: '',
      lists: [],
      sizeForm: {
        incrementId: '',
        personId: '',
        email: '',
        firstName: '',
        midName: '',
        lastName: '',
        capacity: '',
        period: ''
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    this.getroles(this.checkrole)
  },
  methods: {
    checkrole () {
      if (this.myroles.match(this.roles.admin)) {
        this.getList()
      } else {
        this.$message('Only admin can using this page!')
        this.$router.push('/index')
      }
    },
    handleClose (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/persons/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        if (res.data.code === 200) {
          this.lists = res.data.data
        }
      }).catch(err => {
        // console.log(err)
        this.$message('Error :' + err)
      })
    },
    handleSearch () {
      if (this.PersonsName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/persons/listbyname?person_name=' + this.PersonsName2Search.toUpperCase()
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          if (res.data.code === 200) {
            this.dialogVisible = false
            this.sizeForm = {}
            this.lists = res.data.data
          } else {
            this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
          }
          // console.log(this.lists)
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClick (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      this.dialogOP = op
      if (op === 'edit') {
        this.dialogTitle = 'Edit an exist Person'
        this.dialogVisible = true
      } else if (op === 'delete') {
        this.dialogTitleDel = 'Delete an exist Person'
        this.dialogVisibleDel = true
      }
    },
    handleSubmit () {
      this.$confirm('Confirm this Operation?')
        .then(_ => {
          console.log('this.dialogOP:' + this.dialogOP)
          if (this.dialogOP === 'delete') {
            console.log('Delete: ' + this.sizeForm.incrementId)
            this.$http({
              method: 'post',
              url: '/persons/del?person_id=' + this.sizeForm.incrementId
              // data: { categoryId: this.sizeForm.categotyId }
            }).then(res => {
              console.log(res) // res返回的数据
              // this.lists = res.data.data
              this.dialogVisibleDel = false
              this.sizeForm = {}
              this.getList()
            }).catch(err => {
              console.log(err)
              this.currentVue.$alert('ERROR: ' + err)
            })
          }
          if (this.dialogOP === 'edit') {
            this.$http({
              method: 'post',
              url: '/persons/update',
              data: { incrementId: this.sizeForm.incrementId, personId: this.sizeForm.personId, email: this.sizeForm.email, firstName: this.sizeForm.firstName, midName: this.sizeForm.midName, lastName: this.sizeForm.lastName, password: this.sizeForm.password, capacity: this.sizeForm.capacity, period: this.sizeForm.period }
            }).then(res => {
              console.log('edit result' + res) // res返回的数据
              // this.lists = res.data.data
              this.dialogVisible = false
              this.sizeForm = {}
              this.getList()
            }).catch(err => {
              console.log(err)
            })
          }
          // done()
        })
        .catch(_ => { console.log(_) })
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
