<template>
  <div class="system1">
    <h2>数据表增删改查</h2>

    <div style="width: 100%;display: flex;flex-direction: row;align-items: end;justify-content: end;">
        <el-button type="primary" round  @click="dialogVisible = true">新增</el-button>
    </div>

    <el-table
      :data="lists"
      style="width: 100%">
      <el-table-column
        prop="user"
        label="User"
        width="180">
      </el-table-column>
      <el-table-column
        prop="title"
        label="Title">
      </el-table-column>
      <el-table-column
        prop="date"
        label="Date"
        width="180">
      </el-table-column>
    </el-table>

    <el-dialog id="layer" v-show="flag" :visible.sync="dialogVisible" :before-close="handleClose" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini">
                  <el-form-item label="First Name:">
                      <el-input v-model="sizeForm.First_Name" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="Mid Name:">
                      <el-input v-model="sizeForm.Mid_Name" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="Last Name:">
                      <el-input v-model="sizeForm.Last_Name" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="E-Mail:">
                      <el-input v-model="sizeForm.EMail" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="Password:">
                      <el-input v-model="sizeForm.PassWord" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="Confirm Password:">
                      <el-input v-model="sizeForm.PassWord2" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button @click="dialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                  </el-form-item>
              </el-form>

        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      flag: false,
      state: 'add',
      dialogVisible: false,
      lists: [],
      obj: {
        title: '',
        user: '',
        date: '',
        check: false
      },
      sizeForm: {
        First_Name: '',
        Mid_Name: '',
        Last_Name: '',
        EMail: '',
        PassWord: '',
        PassWord2: ''
      },
      tableData: [{
        date: '2016-05-02',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2016-05-04',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1517 弄'
      }, {
        date: '2016-05-01',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1519 弄'
      }, {
        date: '2016-05-03',
        name: '王小虎',
        address: '上海市普陀区金沙江路 1516 弄'
      }]
    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('确认关闭？')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/query'
      }).then(res => {
        console.log(res) // res返回的数据
        this.lists = res.data
      }).catch(err => {
        console.log(err)
      })
    },
    setData (type, v) { // 数据添加、编辑
      this.flag = true // 弹框的显示
      this.state = type
      if (this.state === 'edit') {
        // this.obj = JSON.parse(JSON.stringify(v));
        this.obj = { ...v }
      } else {
        this.checkAll = false // 全选状态为不选中
        this.obj = {}
      }
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
