<template>
  <div class="Search">
    <h2>Search</h2>
      <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
          <el-row>
            <el-col :span="15">
              <el-input placeholder="Please Input Document Information to Search " v-model="DocumentName2Search" clearable></el-input>
            </el-col>
            <el-col :span="5">
              <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
            </el-col>
          </el-row>

        </div>
      </div>

    <el-table
      highlight-current-row
      :data="lists"
      style="width: 100%">

      <el-table-column prop="incrementId" label="Increment_ID" v-if="false"></el-table-column>

      <el-table-column prop="documentId" label="DocumentID"></el-table-column>
      <el-table-column prop="categoryName" label="CategoryName"></el-table-column>
      <el-table-column prop="docTypeName" label="DocTypeName"></el-table-column>
      <el-table-column prop="docname" label="DocName"></el-table-column>
      <el-table-column prop="doctitle" label="DocTitle"></el-table-column>
      <el-table-column prop="dockeyword" label="DocKeyword"></el-table-column>

      <el-table-column label="Operate">
        <template slot-scope="scope">
          <el-tooltip content="Borrow Book" placement="top">
            <el-button type="primary" icon="el-icon-reading" circle @click="handleClick(scope.row,'borrow')"></el-button>
          </el-tooltip>
          <el-tooltip content="Get Details" placement="top">
            <el-button type="success" icon="el-icon-document" circle @click="handleClick(scope.row,'detail')"></el-button>
          </el-tooltip>
        </template>
      </el-table-column>

    </el-table>

    <el-dialog id="layer" :title="dialogTitle" :visible.sync="dialogVisible" class="pub_dialog">
      <div style="width: 80%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:100%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
              <el-form label-width="160px" size="mini" :model="sizeForm">
                  <el-form-item label="increment_id:"  v-if="false">
                      <el-input v-model="sizeForm.incrementId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="document_id:">
                      <el-input v-model="sizeForm.documentId" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="categoryName:">
                      <el-input v-model="sizeForm.categoryName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docTypeName:">
                      <el-input v-model="sizeForm.docTypeName" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="docname:">
                      <el-input v-model="sizeForm.docname" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="doctitle:">
                      <el-input v-model="sizeForm.doctitle" style="margin-bottom:0"></el-input>
                  </el-form-item>
                  <el-form-item label="dockeyword:">
                      <el-input v-model="sizeForm.dockeyword" style="margin-bottom:0"></el-input>
                  </el-form-item>

              </el-form>

        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {

      dialogTitle: '',
      dialogVisible: false,
      dialogOP: '',
      DocumentName2Search: '',
      lists: [],
      sizeForm: {
        incrementId: '',
        documentId: '',
        categoryName: '',
        docTypeName: '',
        docname: '',
        doctitle: '',
        dockeyword: ''
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    // this.getroles(this.checkrole)
    this.getList()
  },
  methods: {
    doBorrow () {
      // console.log(window.currentVue.myroles)
      if (window.currentVue.myroles.match(window.currentVue.roles.user) && window.currentVue.myid !== null) {
        // insert borrow information
        // this.$message('you can borrow book!')
        this.$http({
          method: 'post',
          url: '/borrow/add',
          data: { personId: window.currentVue.myid, docCopyId: this.sizeForm.documentId }
        }).then(res => {
          console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.$message('Success borrow one book!')
        }).catch(err => {
          console.log(err)
        })
      } else {
        // console.log()
        this.$message('Only members can borrow book!')
        // this.$router.push('/index')
      }
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/docdetails/list'
      }).then(res => {
        // console.log(res) // res返回的数据
        this.lists = res.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    handleSearch () {
      if (this.DocumentName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/docdetails/detaillistbyattvalue?Search_Value=' + this.DocumentName2Search
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.lists = res.data.data
          // console.log(this.lists)
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClick (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      // this.dialogVisible = true
      this.dialogOP = op
      if (op === 'borrow') {
        this.getroles(this.doBorrow)
      } else if (op === 'detail') {
        this.dialogTitle = 'Detail of this Document'
        this.dialogVisible = true
      }
      // this.handleSubmit()
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .input-with-select .el-input-group__prepend {
    background-color: #fff;
    width: 50px;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
