<template>
    <div class='breadcrumb'>
        <el-breadcrumb separator="/" >
            <el-breadcrumb-item v-for="v in lists" :key="v.path">
              <router-link :to="v.path">{{v.meta.title}}</router-link>
            </el-breadcrumb-item>
        </el-breadcrumb>
    </div>
</template>

<script>
export default {
  data () {
    return {
      lists: []
    }
  },
  methods: {
    getBreadcrumb (matched) {
      if (matched.length && matched[1].name === 'index') {
        matched = [{ path: '/home', name: 'home', meta: { title: 'Home' } }]
      }
      this.lists = matched
    }

  },
  watch: {
    $route (to, from) {
      // console.log(to)
      this.getBreadcrumb(to.matched)
    }
  },
  mounted () {
    this.getBreadcrumb(this.$route.matched)
    // console.log(this.$route.matched)
  }
}
</script>
