<template :collapse="isCollapse">
  <div class="home">
    <el-container >
      <NavMenu />
      <el-container >
        <el-header class='m-header'>
          <h1>Library Management System Group1</h1>
          <div style="width: 100%;display: flex;flex-direction: row;align-items: center;justify-content: end; border:solid 0px #00ff00;">
            <div style="width:100%;margin-top:0px;margin-bottom:0px;border:solid 0px #EBEEF5;">
              <el-row style="width:100%;">

                <el-col :span="12" align="left">
                  <div style="width: 100%;border:solid 0px #0000ff">
                  <Breadcrumb />
                  </div>
                </el-col>

                <el-col :span="12" align="right">
                  <div style="width: 100%;border:solid 0px #ff0000">
                  <el-button type="info" round @click="goBack">Exit</el-button>
                  </div>
                </el-col>

              </el-row>

            </div>
          </div>

        </el-header>
        <el-main><router-view /></el-main>
        <!--
        <el-footer>Footer</el-footer>
        -->
      </el-container>
    </el-container>
  </div>
</template>

<script>
import NavMenu from './navMenu.vue'
import Breadcrumb from './breadcrumb.vue'
export default {
  data () {
    return {
      isCollapse: true
    }
  },
  created () {
    window.currentVue = this
  },
  methods: {
    goBack () {
      window.sessionStorage.removeItem('token')
      this.$router.push('/index')
    }
  },
  components: {
    NavMenu,
    Breadcrumb
  }
}
</script>

<style>

</style>
