<template>
  <el-aside :width="isCollapse?'80px':'200px'" style="text-align: left; font-size: 12px">
    <el-menu
      default-active="$route.path"
      class="el-menu-vertical-demo" router
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      @open="handleOpen" @close="handleClose" :collapse="isCollapse"
      >

      <el-menu-item index="/index">
        <i class="el-icon-s-home"></i>
        <span slot="title">Home</span>
      </el-menu-item>

      <el-menu-item index="/search">
        <i class="el-icon-search"></i>
        <span slot="title">Search</span>
      </el-menu-item>

      <el-menu-item index="/login">
        <i class="el-icon-unlock"></i>
        <span slot="title">Login</span>
      </el-menu-item>

     <el-submenu index="/person">
        <template slot="title">
          <i class="el-icon-user"></i>
          <span>Person</span>
        </template>
        <el-menu-item index="/person/regist"><i class="el-icon-document"></i>Person Regist</el-menu-item>
        <el-menu-item index="/person/personupdate"><i class="el-icon-edit-outline"></i>Person Update</el-menu-item>
        <el-menu-item index="/person/personborrowreturn"><i class="el-icon-s-claim"></i>Borrow/Return</el-menu-item>
      </el-submenu>
     <el-submenu index="/system">
        <template slot="title">
          <i class="el-icon-setting"></i>
          <span>System</span>
        </template>
        <el-menu-item index="/system/Persons"><i class="el-icon-key"></i>Persons</el-menu-item>
        <el-menu-item index="/system/Documents"><i class="el-icon-notebook-2"></i>Documents</el-menu-item>
        <el-menu-item index="/system/Publisher"><i class="el-icon-document-add"></i>Publisher</el-menu-item>
        <el-menu-item index="/system/Category"><i class="el-icon-s-grid"></i>Category</el-menu-item>
        <el-menu-item index="/system/DocTypes"><i class="el-icon-magic-stick"></i>DocTypes</el-menu-item>
        <el-menu-item index="/system/Storage_Location"><i class="el-icon-location-information"></i>Storage_Location</el-menu-item>
      </el-submenu>
      <div style="width: 100%;display: flex;flex-direction: row;align-items: left;justify-content: center;">
        <el-radio-group v-model="isCollapse" style="margin-bottom: 5px; width: 20ps;" size="mini">
          <el-radio-button :label="false" style="width: 5ps;" >Expand</el-radio-button>
          <el-radio-button :label="true">Collapse</el-radio-button>
        </el-radio-group>
      </div>
    </el-menu>

  </el-aside>

</template>
<script>
export default {
  data () {
    return {
      mywidth: '200px',
      isCollapse: false
    }
  },
  methods: {
    handleOpen (key, keyPath) {
      // this.mywidth = '200px'
      // console.log(this.mywidth)
    },
    handleClose (key, keyPath) {
      // console.log(key, keyPath)
      // this.mywidth = '60px'
      // console.log(this.mywidth)
    }

  }
}
</script>
