<template>
  <div class="login">
    <div style="width: 50%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
      <div style="width:50%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

        <el-form-item label="Username:" prop="name">
          <el-input v-model="ruleForm.name" ></el-input>
        </el-form-item>
        <el-form-item label="Password:" prop="password">
          <el-input type="password" v-model="ruleForm.password"  show-password></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="resetForm('ruleForm')">Reset</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')">Submit</el-button>
        </el-form-item>

        </el-form>

      </div>
    </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      ruleForm: {
        name: '',
        password: ''
      },
      rules: {
        name: [
          { required: true, message: 'please input username', trigger: 'blur' },
          { min: 6, max: 18, message: 'lenth between 6 and 18 characters', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'please input password', trigger: 'change' },
          { min: 6, max: 18, message: 'lenth between 6 and 18 characters', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    submitForm (formName) {
      let mytoken = ''
      // window.sessionStorage.setItem('token', mytoken)
      this.$refs[formName].validate((valid) => {
        const Base64 = require('js-base64').Base64
        const base64AccountPwd = encodeURIComponent(Base64.encode(this.ruleForm.password))

        if (valid) {
          this.$http({
            method: 'get',
            url: '/login?person_name=' + encodeURIComponent(this.ruleForm.name) + '&person_password=' + encodeURIComponent(base64AccountPwd)
          }).then(res => {
            // console.log(res) // res返回的数据
            if (res === undefined || res === 0) {
              console.log('res undefined' + res)
            } else if (res.data.code === 200) {
              mytoken = res.data.data.token
              // console.log('token: ' + mytoken)
              window.sessionStorage.setItem('token', mytoken)
              // console.log('getitem sessionstorage token:' + window.sessionStorage.getItem('token'))
              this.$http.interceptors.request.use(config => {
                config.headers.Authorization = mytoken
                return config
              }
              )
              this.$message('Successful Login, Welcome ' + this.ruleForm.name)
              this.$router.push('/home')
            } else {
              // console.log(res)
              this.$message('Error to Login:' + res.data.message)
            }
          }).catch(err => {
            console.log(err)
            // this.$message('Error :' + err)
          })
        } else {
          return false
        }
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  }
}

</script>
