<template>
  <div class="BorrowReturn">
    <h2>Borrow/Return</h2>
      <div style="width: 90%;display: flex;flex-direction: row;align-items: center;justify-content: end;">
        <div style="width:80%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
          <el-row>
            <el-col :span="15">
              <el-input placeholder="Please Input Document Information to Search " v-model="DocumentName2Search" clearable></el-input>
            </el-col>
            <el-col :span="5">
              <el-button icon="el-icon-search" round  @click="handleSearch()">Search</el-button>
            </el-col>
          </el-row>

        </div>
      </div>

    <el-table
      highlight-current-row
      :data="lists"
      style="width: 100%"
      :cell-style="cellStyle"  >

      <el-table-column prop="incrementId" label="Increment_ID" v-if="false"></el-table-column>

      <el-table-column prop="docCopyId" label="docCopyId"></el-table-column>
      <el-table-column prop="doctitlename" label="doctitlename"></el-table-column>
      <el-table-column prop="personId" label="personId"></el-table-column>
      <el-table-column prop="email" label="Email"></el-table-column>

      <el-table-column prop="borrowDate" label="borrowDate"></el-table-column>
      <el-table-column prop="estimatedReturnDate" label="estimatedReturnDate"></el-table-column>
      <el-table-column prop="actualReturnDate" label="actualReturnDate"></el-table-column>

      <el-table-column label="Operate">
        <template slot-scope="scope">
          <el-tooltip content="Return Book" placement="top">
            <el-button type="primary" icon="el-icon-reading" circle @click="handleClick(scope.row,'return')" v-if="!scope.row.actualReturnDate"></el-button>
          </el-tooltip>
        </template>
      </el-table-column>

    </el-table>

  </div>
</template>

<script>
export default {
  data () {
    return {
      DocumentName2Search: '',
      lists: [],
      sizeForm: {
        incrementId: '',
        docCopyId: '',
        doctitlename: '',
        personId: '',
        email: '',
        borrowDate: '',
        estimatedReturnDate: '',
        actualReturnDate: ''
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    this.getroles(this.getList)
    // this.getList()
  },
  methods: {
    doReturn () {
      // console.log(window.currentVue.myroles)
      if (window.currentVue.myroles.match(window.currentVue.roles.user) && window.currentVue.myid !== null) {
        // insert borrow information
        // this.$message('you can borrow book!')
        this.$http({
          method: 'post',
          url: '/borrow/update',
          data: { incrementId: this.sizeForm.incrementId }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.getList()
          this.$message1('Success return one book!')
        }).catch(err => {
          console.log(err)
        })
      } else {
        // console.log()
        this.$message('Only members can borrow book!')
        // this.$router.push('/index')
      }
    },
    getList () {
      this.$http({
        method: 'get',
        url: '/borrow/listbypersonid?Personid=' + window.currentVue.myid
      }).then(res => {
        // console.log(res) // res返回的数据
        this.lists = res.data.data
      }).catch(err => {
        console.log(err)
      })
    },
    handleSearch () {
      if (this.DocumentName2Search.length > 0) {
        this.$http({
          method: 'get',
          url: '/docdetails/detaillistbyattvalue?Search_Value=' + this.DocumentName2Search
          // data: { categoryId: this.sizeForm.categotyId }
        }).then(res => {
          // console.log(res) // res返回的数据
          // this.lists = res.data.data
          this.dialogVisible = false
          this.sizeForm = {}
          this.lists = res.data.data
          // console.log(this.lists)
        }).catch(err => {
          console.log(err)
        })
      }
    },
    handleClick (row, op) {
      // console.log(row, op)
      this.sizeForm = { ...row }
      // this.dialogVisible = true
      if (op === 'return') {
        this.doReturn()
      }
      // this.handleSubmit()
    },
    cellStyle (row) {
      if (Date.parse(row.row.estimatedReturnDate) < Date.parse(new Date())) {
        // row.column.label === '销售金额环比(%)' && row.row.priceChainRatio<
        return 'color:#FF0000'
      }
    }

  }
}
</script>

<style>
  .el-row {
    margin-bottom: 20px;

  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .input-with-select .el-input-group__prepend {
    background-color: #fff;
    width: 50px;
  }
.pub_dialog {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    .el-dialog {
        margin: 0 auto !important;
        height: 90%;
        overflow: hidden;
        .el-dialog__body {
            position: absolute;
            left: 0;
            top: 54px;
            bottom: 20;
            right: 0;
            padding: 0;
            z-index: 1;
            overflow: hidden;
            overflow-y: auto;
        }
      }
}
</style>
