<template>
  <div class="personupdate">
    <h1>Person Information Update</h1>
    <div style="width: 100%;display: flex;flex-direction: row;align-items: center;justify-content: center;">
      <div style="width:60%;margin-top:3px;margin-bottom:3px;border:solid 0px #EBEEF5;">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm" :data="ruleForm">

        <el-form-item label="increment_id:" prop="incrementId" v-if="false">
          <el-input v-model="ruleForm.incrementId" ></el-input>
        </el-form-item>

        <el-form-item label="person_id:" prop="personId" v-if="false">
          <el-input v-model="ruleForm.personId" ></el-input>
        </el-form-item>

        <el-form-item label="EMail:" prop="email">
          <el-input v-model="ruleForm.email" placeholder="Please Input E-Mail Address "></el-input>
        </el-form-item>
        <el-form-item label="FirstName:" prop="firstName">
          <el-input v-model="ruleForm.firstName" placeholder="Please Input your First Name"></el-input>
        </el-form-item>
        <el-form-item label="MidName:" prop="midName">
          <el-input v-model="ruleForm.midName" placeholder="Please Input your Mid Name"></el-input>
        </el-form-item>
        <el-form-item label="LastName:" prop="lastName">
          <el-input v-model="ruleForm.lastName" placeholder="Please Input your Last Name to Search "></el-input>
        </el-form-item>
        <el-form-item label="Password:" prop="password">
          <el-input type="password" v-model="ruleForm.password"  show-password  placeholder="Please Input your Password"></el-input>
        </el-form-item>
        <el-form-item label="Confirm Password:" prop="password2">
          <el-input type="password" v-model="ruleForm.password2"  show-password placeholder="Please Input Confirm Password"></el-input>
        </el-form-item>
        <el-form-item label="capacity:" prop="capacity" >
          <el-input v-model="ruleForm.capacity" placeholder="Please Input the Max Number of Docs in Borrow State "></el-input>
        </el-form-item>
        <el-form-item label="period:" prop="period">
          <el-input v-model="ruleForm.period" placeholder="Please Input the Max Number of Days in Borrow State per Doc"></el-input>
        </el-form-item>

        <el-form-item>
          <el-button @click="resetForm('ruleForm')">Reset</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')">Submit</el-button>
        </el-form-item>

        </el-form>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please input confirm password'))
      } else if (value !== this.ruleForm.password) {
        callback(new Error('The password entered twice is inconsistent!'))
      } else {
        callback()
      }
    }
    var checkEmail = (rule, value, callback) => {
      const regEmail = /^\w+@\w+(\.\w+)+$/
      if (regEmail.test(value)) {
        return callback()
      }
      callback(new Error('Please input correct EMail address'))
    }
    return {
      ruleForm: {
        incrementId: 0,
        personId: 0,
        email: '',
        firstName: '',
        midName: '',
        lastName: '',
        password: '',
        capacity: 5,
        period: 14
      },
      rules: {
        firstName: [
          { required: true, message: 'please input FirstName', trigger: 'blur' },
          { min: 6, max: 18, message: 'lenth between 6 and 18 characters', trigger: 'blur' }
        ],
        lastName: [
          { required: true, message: 'please input LastName', trigger: 'blur' },
          { min: 6, max: 18, message: 'lenth between 6 and 18 characters', trigger: 'blur' }
        ],
        password: [
          { required: true, message: 'please input password', trigger: 'change' },
          { min: 6, max: 18, message: 'lenth between 6 and 18 characters', trigger: 'change' }
        ],
        password2: [
          { required: true, message: 'please input confirm password', trigger: 'change' },
          { required: true, validator: validatePass2, trigger: 'change' }
        ],
        email: [
          { required: true, message: 'please input E-Mail Address', trigger: 'blur' },
          { required: true, validator: checkEmail, trigger: 'change' }
        ]
      }
    }
  },
  created () {
    window.currentVue = this
  },
  mounted () {
    // token check then getlist
    var mytoken = ''
    mytoken = window.sessionStorage.getItem('token')
    if (mytoken && mytoken.length > 0) {
      this.$http({
        method: 'get',
        url: '/tokenParse?token=' + window.sessionStorage.getItem('token')
      }).then(res => {
        console.log(res) // res返回的数据
        this.getList(res.data.data.uid)
      }).catch(err => {
        console.log(err)
      })
    }
  },
  methods: {
    handleClose (done) {
      this.$confirm('Confirm Close?')
        .then(_ => {
          done()
        })
        .catch(_ => {})
    },
    getList (myuid) {
      this.$http({
        method: 'get',
        url: 'persons/listbyid?person_id=' + myuid
      }).then(res => {
        console.log(res) // res返回的数据
        this.ruleForm = { ...res.data.data[0] }
        this.ruleForm.password = ''
        console.log(this.ruleForm)
      }).catch(err => {
        console.log(err)
      })
    },

    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const Base64 = require('js-base64').Base64
          const base64AccountPwd = encodeURIComponent(Base64.encode(this.ruleForm.password))
          this.$http({
            method: 'post',
            url: '/persons/add',
            data: { email: this.ruleForm.email, firstName: this.ruleForm.firstName, midName: this.ruleForm.midName, lastName: this.ruleForm.lastName, password: base64AccountPwd, capacity: this.ruleForm.capacity, period: this.ruleForm.period }
          }).then(res => {
            console.log(res) // res返回的数据
            if (res.data.code === 200) {
              this.$message('Successful finish the Regist step,Please wait for the Admin to approve!')
            } else {
              // console.log(res)
              this.$message('Error Code:' + res.data.code + ' Error Msg:' + res.data.message)
            }
          }).catch(err => {
            console.log(err)
            this.$message('Error :' + err)
          })
          this.$router.push('/home')
        } else {
          return false
        }
      })
    }

  }
}
</script>
